# Virtual Environment
venv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Audio Files
audio_files/
transcripts/
*.wav
*.mp3
*.m4a
*.aac
my_recording.wav

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store