{"encoding": "base64", "content": "IyBFbnZpcm9ubWVudCB2YXJpYWJsZXMgYW5kIHNlbnNpdGl2ZSBkYXRhCi5lbnYKKi5rZXlzLmpzb24KKi50b2tlbgoKIyBBdWRpbyBmaWxlcwphdWRpb19maWxlcy8KKi53YXYKKi5tcDMKKi5tNGEKCiMgU3BlYWtlciByZWNvZ25pdGlvbiBkYXRhCnNwZWFrZXJfZW1iZWRkaW5ncy8KKi9zcGVha2VyX2VtYmVkZGluZ3MvCnNwZWFrZXJfZW1iZWRkaW5ncy5wa2wKKiovcHJldHJhaW5lZF9tb2RlbHMvCgojIFB5dGhvbgpfX3B5Y2FjaGVfXy8KKi5weVtjb2RdCiokX3B5LmNsYXNzCiouc28KLlB5dGhvbgplbnYvCmJ1aWxkLwpkZXZlbG9wLWVnZ3MvCmRpc3QvCmRvd25sb2Fkcy8KZWdncy8KLmVnZ3MvCmxpYi8KbGliNjQvCnBhcnRzLwpzZGlzdC8KdmFyLwp3aGVlbHMvCiouZWdnLWluZm8vCi5pbnN0YWxsZWQuY2ZnCiouZWdnCgojIFZpcnR1YWwgRW52aXJvbm1lbnQKdmVudi8KRU5WLwouZW52LwoudmVudi8KCiMgSURFCi5pZGVhLwoudnNjb2RlLwoqLnN3cAoqLnN3bwouRFNfU3RvcmUKCiMgTG9ncyBhbmQgZGF0YWJhc2VzCioubG9nCiouc3FsaXRlCiouZGIKCiMgTW9kZWwgY2hlY2twb2ludHMgYW5kIGxhcmdlIGZpbGVzCioucHRoCiouY2twdAoqLnB0CiouYmlu"}